.home-section {
  padding-top: 10rem;
  padding-bottom: 7rem;
  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
  a {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    text-decoration: none;
    color: white;
  }
  a:visited { 
    text-decoration: none; 
    color:white;
  }
  @media(max-width: 768px) {
    padding-top: 3rem;
    padding-bottom: 4rem;
    .centeredbtn {
      text-align: center;
    }
  }
}
