#home {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  background: linear-gradient(to bottom, $black 0%, #{fade-out($black, .1)} 75%, #{fade-out($black, .2)} 100%);
  a {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
  @media(max-width: 992px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    .centered-btn {
      text-align: center;
    }
  }
}
