.officers-section {
  padding: 5rem 0 0 0;
  img {
    margin-top: 1rem;
    object-fit: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  @media(max-width: 768px) {    
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    img {
      margin-top: 0rem;
      width: 175px;
      height: 175px;
    }
  }
  .not-shown {
      display: none;
  }
}