.rush-section {
  padding: 5rem 0 5rem 0;
  background: linear-gradient(to bottom, #{fade-out($black, .9)} 0%,#{fade-out($black, .5)} 75%,$black 100%), url('https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  h4 {
    margin-top: 8rem;
    margin-bottom: -8rem;
  }
}
