@import 'variables.scss';
@import 'buttons.scss';
@import 'contact.scss';
@import 'home.scss';
@import 'masthead.scss';
@import 'navbar.scss';
@import 'officers.scss';
@import 'philanthropy.scss';
@import 'rush.scss';

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
  &:visited {
    text-decoration: none;
    color: $primary;
  }
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

.section-padding {
  padding: 5rem 0;
}

.no-section-padding-t {
  padding-top: 0;
}

.no-section-padding-b {
  padding-bottom: 0;
}

.featured-text {
  padding: 2rem;
  @media (min-width: 992px) {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid $primary;
  }
}

.project-text {
  padding: 3rem;
  font-size: 90%;
  @media (min-width: 992px) {
    padding: 5rem;
    hr {
      border-color: $primary;
      border-width: .25rem;
      width: 30%;
    }
  }
}
