<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sigma Chi | Davis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="./css/style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <!-- Navigation Bar -->
    {{>nav}}

    <!-- Background & Quote -->
    <div id="history" class="row  align-items-center">
      <div class="col-12 text-center">
        <h1 class="display-2">History</h1>
        <p>One, and the main, aim and object of Sigma Chi has been, and is, to develop
        and train broad-minded men who can recognize the wholeness of things and who
        are not bound down to a contracted, eight by ten notion of exclusiveness.
        There is an absolute necessity for such men.</p>
        <footer class="blockquote-footer">Founder Benjamin Piatt Runkle</footer>
      </div>
    </div>

    <!-- Founding -->
    <div class="founding fluid-container row">
      <div class="col-sm-12 col-md-6 col-lg-7">
        <h1 class="display-4 text-center padding-bottom my-3">Founding</h1>
        <p>
          Sigma Chi is a brotherhood with roots in friendship, equality and education
           as part of their overall responsibilities to the broader communities in
           which they live. They achieve these ideals through promoting those
           character qualities embodied in their Rituals, and continuously reaffirm
           their purpose through the observance of Sigma Chi’s Governing Laws and
           through adherence to the decisions of their legislative assemblies,
           which empower and direct their activities.
           <br><br>
           In addition to its 217 undergraduate chapters and 145 alumni chapters,
           Sigma Chi is comprised of four operational entities: the Sigma Chi
           Fraternity, the Sigma Chi Foundation, the Risk Management Foundation and
           Constantine Capital Inc.
           <br><br>    
           Sigma Chi Fraternity best serves its purpose by developing, implementing
           and monitoring programs that foster leadership, build character and promote
           positive relationship skills which, in turn, enable our members to become
           productive and caring participants in their families, colleges and communities.
           <br><br>
           Sigma Chi’s core values are friendship, justice and learning. Their vision is to become
           the preeminent collegiate leadership development organization-aligned, focused and living
           their core values. Their mission is to develop values-based leaders committed to
           the betterment of character, campus and community.
        </p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-5">
        <img src="./img/about/Runkle.jpg" alt="Huntsman Foundation">
      </div>
    </div>

    <!-- Our Chapter -->
    <hr>
    <div id="our-chapter" class="col-12 text-center">
      <h1 class="display-4 padding-bottom">Our Chapter</h1>
    </div>
    <div class="chapter row">
      <div class="col-sm-12 col-md-6 col-lg-8">
        <img src="./img/about/back.JPG" width="600px" height="auto" alt="Huntsman Foundation">        
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 text-center">
        <p>
          The chapter house is located next to Kappa Alpha Theta, Sigma Nu and
          Tau Kappa Epsilon at 400 Parkway Circle directly across from the Activities
           and Recreation Center (ARC).
           <br><br>
           As of August 2005, the National Fraternity has  added the Huntsman
           Cancer Research Institute to it’s official list of charities. The Theta
           Omicron chapter will continue its work to support them through their
           philanthropic efforts which have averaged over $20,000 in recent years.
        </p>
      </div>
    </div>

    <!-- Sticky bar has to fade away -->
    <!-- Parallax -->
    <div class="parallax about-image"></div>      

    <!-- Brotherhood -->
    <div id="brotherhood" class="row fluid-container align-items-center section-cont">
      <div class="col-12">
        <h1 class="display-4">Brotherhood</h1>
        <img src="./img/about/current-events-main.jpeg" width="100%" height="auto" alt="Huntsman Foundation">
      </div>
      <div class="col-12 text-center">
        <p>
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id 
          ligula porta felis euismod semper. Praesent commodo cursus magna, 
          vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id 
          ligula porta felis euismod semper. Praesent commodo cursus magna, 
          vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
    </div>
    <!-- This is the temporary footer for now -->
    <div id="footer"></div>
  </body>
</html>
