<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sigma Chi | Davis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="./css/style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <!-- Navigation Bar -->
    {{>nav}}

    <!-- Landing Image -->
    <div class="landing_img">
      <img class="d-block w-100 opacity" src="./img/background/house.JPG" alt="Sigma Chi">
    </div>

    <!-- News section -->
    <div class="container-fluid news-section text-center">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="circular">
            <img src="./img/navbar/puppy-main.JPG">
          </div>
          <h1>Puppy Love</h1>
          <p>
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
            ligula porta felis euismod semper. Praesent commodo cursus magna,
            vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
          </p>
          <button type="button" class="btn btn-secondary">View Details</button>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="circular">
            <img src="./img/navbar/sigmachi.jpg">
          </div>
          <h1>SampleText</h1>
          <p>
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
            ligula porta felis euismod semper. Praesent commodo cursus magna,
            vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
          </p>
          <button type="button" class="btn btn-secondary">View Details</button>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="circular">
            <img src="./img/navbar/sigmachi.jpg">
          </div>
          <h1>Sigma Chi</h1>
          <p>
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
            ligula porta felis euismod semper. Praesent commodo cursus magna,
            vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
          </p>
          <button type="button" class="btn btn-secondary">View Details</button>
        </div>
      </div>
    </div>

    <hr>

    <!-- Random section -->
    <div class="attention-section">
      <div class="row">
        <div class="col-xs-12 col-md-7">
          <h1>Theta Omicron Chapter. <span class="gray-text">Our mission.</span></h1>
          <p>
            The fundamental purpose of the Sigma Chi Fraternity is the cultivation,
            maintenance and accomplishment of the ideals of friendship, justice and
            learning within their membership.
          </p>
        </div>
        <div style="height: 400px; width: 400px; background-color: gray;" class="col-xs-12 col-md-5">
          <!-- Insert image -->

        </div>
      </div>
    </div>

    <!-- Parallax -->
    <div class="parallax">
      <div class="parallax-text text-center">
        <div>
          <p>Cancer Foundation</p>
          <h1>Huntsman Institute</h1>
          <p>
            Join the fight against cancer. Learn
            more about what the Hunstman Institute of Cancer does as an organization.
          </p>
          <button type="button" class="btn btn-secondary" href="htrobey@ucdavis.edu">huntsman.org</button>
        </div>
      </div>
    </div>

    <!-- Contact Us -->
    <div class="fluid-container contact-us">
      <div class="row">
        <div class="col-xs-12 col-lg-6 align-self-center">
          <p class=""><i class="fa fa-user"></i> Contact Us</p>
          <h1>925-683-8215</h1>
          <p class="">Recruitment Chair</p>
          <button type="button" class="btn btn-secondary" href="htrobey@ucdavis.edu">Email</button>
          <button type="button" class="btn btn-secondary">Rush Schedule</button>
        </div>
        <div class="col-xs-12 col-lg-6 text-center align-self-center">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3120.5360569269405!2d-121.76344228500272!3d38.544461479626655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808529aa4ee76c5b%3A0x4421b3d1327e9072!2s400%20Parkway%20Cir%2C%20Davis%2C%20CA%2095616!5e0!3m2!1sen!2sus!4v1569710702331!5m2!1sen!2sus"
          width="470" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>

    <!-- This is the temporary footer for now -->
    <div id="footer"></div>
  </body>

  <script>
    function getPosition(element) {
      var yPosition = 0;
      while(element) {
        yPosition += (element.offsetTop - element.scrollTop + element.clientTop);
        element = element.offsetParent;
      }
      // Width of navbar is 73px
      return yPosition - 73;
    }

    $(window).scroll(function() {
      var element = document.querySelectorAll('.parallax')[0];
      var y = getPosition(element)
      $("#fixed").css("top", Math.min(0, y - $(this).scrollTop()));
    });
  </script>
</html>
