<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sigma Chi | Davis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="./css/style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <!-- Navigation Bar -->
    {{>nav}}

    <div class="officers card-group">
        <div class="card">
          <img src="./img/huntsman_institute.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pro-Consul</h5>
            <p class="card-text">This is a wider card with supporting text below as 
                a natural lead-in to additional content. This content is a little 
                bit longer.</p>            
          </div>
        </div>
        <div class="card">
          <img src="./img/huntsman_institute.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Consul</h5>
            <p class="card-text">This card has supporting text below as a natural 
                lead-in to additional content.</p>            
          </div>
        </div>
        <div class="card">
          <img src="./img/huntsman_institute.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Annotator</h5>
            <p class="card-text">This is a wider card with supporting text below 
                as a natural lead-in to additional content. This card has even 
                longer content than the first to show that equal height action.</p>            
          </div>
        </div>
      </div>

      <div class="card-group">
        <div class="card">
          <img src="./img/huntsman_institute.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Historian</h5>
            <p class="card-text">This is a wider card with supporting text below as 
                a natural lead-in to additional content. This content is a little 
                bit longer.</p>            
          </div>
        </div>
        <div class="card">
          <img src="./img/huntsman_institute.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tribune</h5>
            <p class="card-text">This card has supporting text below as a natural 
                lead-in to additional content.</p>            
          </div>
        </div>
        <div class="card">
          <img src="./img/huntsman_institute.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Recruitment Chair</h5>
            <p class="card-text">This is a wider card with supporting text below 
                as a natural lead-in to additional content. This card has even 
                longer content than the first to show that equal height action.</p>            
          </div>
        </div>
      </div>

      <div class="card-group">
        <div class="card">
          <img src="./img/huntsman_institute.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Quaster</h5>
            <p class="card-text">This is a wider card with supporting text below as 
                a natural lead-in to additional content. This content is a little 
                bit longer.</p>            
          </div>
        </div>
        <div class="card">
          <img src="./img/huntsman_institute.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Magister</h5>
            <p class="card-text">This card has supporting text below as a natural 
                lead-in to additional content.</p>            
          </div>
        </div>
        <div class="card">
          <img src="./img/huntsman_institute.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Risk-Manager</h5>
            <p class="card-text">This is a wider card with supporting text below 
                as a natural lead-in to additional content. This card has even 
                longer content than the first to show that equal height action.</p>            
          </div>
        </div>
      </div>

      <div class="card-group">
        <div class="card">
          <img src="./img/huntsman_institute.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Chapter Editor</h5>
            <p class="card-text">This is a wider card with supporting text below as 
                a natural lead-in to additional content. This content is a little 
                bit longer.</p>            
          </div>
        </div>
        <div class="card">
          <img src="./img/huntsman_institute.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Kustos</h5>
            <p class="card-text">This card has supporting text below as a natural 
                lead-in to additional content.</p>            
          </div>
        </div>
        <div class="card">
          <img src="./img/huntsman_institute.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Social Chairman</h5>
            <p class="card-text">This is a wider card with supporting text below 
                as a natural lead-in to additional content. This card has even 
                longer content than the first to show that equal height action.</p>            
          </div>
        </div>
      </div>

      <div class="card-group">
        <div class="card">
          <img src="./img/huntsman_institute.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Brotherhood Chairman</h5>
            <p class="card-text">This is a wider card with supporting text below as 
                a natural lead-in to additional content. This content is a little 
                bit longer.</p>            
          </div>
        </div>
        <div class="card">
          <img src="./img/huntsman_institute.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Scholarship Chair</h5>
            <p class="card-text">This card has supporting text below as a natural 
                lead-in to additional content.</p>            
          </div>
        </div>
        <div class="card">
          <img src="./img/huntsman_institute.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sustainability Chair</h5>
            <p class="card-text">This is a wider card with supporting text below 
                as a natural lead-in to additional content. This card has even 
                longer content than the first to show that equal height action.</p>            
          </div>
        </div>
      </div>

      <div class="card-group">
        <div class="card">
          <img src="./img/huntsman_institute.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Philanthropy Chair</h5>
            <p class="card-text">This is a wider card with supporting text below as 
                a natural lead-in to additional content. This content is a little 
                bit longer.</p>            
          </div>
        </div>
        <div class="card">
          <img src="./img/huntsman_institute.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Athletic Coordinator</h5>
            <p class="card-text">This card has supporting text below as a natural 
                lead-in to additional content.</p>            
          </div>
        </div>
        <div class="card">
          <img src="./img/huntsman_institute.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">House Manager</h5>
            <p class="card-text">This is a wider card with supporting text below 
                as a natural lead-in to additional content. This card has even 
                longer content than the first to show that equal height action.</p>            
          </div>
        </div>
      </div>

      <div class="card-group">
        <div class="card">
          <img src="./img/huntsman_institute.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Steward</h5>
            <p class="card-text">This is a wider card with supporting text below as 
                a natural lead-in to additional content. This content is a little 
                bit longer.</p>            
          </div>
        </div>
        <div class="card">
        <img src="./img/huntsman_institute.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sweetheart</h5>
            <p class="card-text">This card has supporting text below as a natural 
                lead-in to additional content.</p>            
          </div>
        </div>
        <div class="card">
          <img src="./img/huntsman_institute.jpg" class="card-img-top" alt="...">          
          <div class="card-body">
            <h5 class="card-title">Sorority Relations</h5>
            <p class="card-text">This is a wider card with supporting text below 
                as a natural lead-in to additional content. This card has even 
                longer content than the first to show that equal height action.</p>            
          </div>
        </div>
      </div>

    <!-- This is the temporary footer for now -->
    <div id="footer"></div>
  </body>
</html>
