@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,500,600');

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px 0px;
  padding: 0px 0px;
}

body, html {
  height: 100vh;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 200;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  font-variant: small-caps;
}

h5 {
  font-size: 12px;
}

/* Make sure to use */

.link-button {
  padding: 4px 4px;
  border: 2px darkblue solid;
  text-align: center;
}

.container {
  width: 100%;
}

header {
  position: fixed;
  z-index: 2;
  background-color: rgb(15, 61, 95);
  height: 90px;
  clear: both;
  min-width: 750px;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow:    0px 3px 5px rgba(0, 0, 0, 0.15);
  box-shadow:         0px 3px 5px rgba(0, 0, 0, 0.15);
}

.logo {
  margin: auto 20px;
  height: 100%;
  float: left;
  width: 10%;
  position: relative;
}

.logo img {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  max-height: 100%;
  max-width: 100%;
  min-width: 90px
}

nav {
  margin: auto 0;
  height: 100%;
  float: right;
  width: 60%;
  min-width: 600px;
}

.menu {
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 20%;
  background-color: rgb(15, 61, 95);
  color: white;
  font-weight: 300;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  text-shadow: 6px 3px 6px black;
}

.menu:hover {
  background-color: rgb(44, 84, 115);
  font-size: 22px;
}

/*
----------------------------------------------------------------------
THESE ARE THE CONTENT SECTIONs
----------------------------------------------------------------------
*/

.main_content {
  position: relative;
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  top: 90px;
  min-width: 1100px;
}

#Home {
  background-color: rgb(15, 61, 95);
}

.SlideshowStart {
  width: 100%;
  height: 100%;
  background-color: black;
  background: -webkit-linear-gradient(rgb(18, 167, 218), rgb(250, 194, 79));
  background: -moz-linear-gradient(rgb(18, 167, 218), rgb(250, 194, 79));
  background: linear-gradient(rgb(18, 167, 218), rgb(250, 194, 79));
}

.slideshow-container {
  height: 100%;
  /* Include additional Properties needed for slideshow container..?
     Otherwise there is no use because main_content height is also 100%
     Probably want the bubbles, maybe arrows, maybe captions */
}

.slideshow-container img {
  width: 100%;
  height: auto;
}

.slideshow-container .large-title {
  width: 100%;
  padding: 20px 0px;
  /*background-color: rgba(255, 255, 255, 0.5);*/
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  color:#FDC92A;
  color: rgb(15, 61, 95);
  color: white;

  font-variant: small-caps;
  font-size: 45px;
  font-weight: bold;
  line-height: 0.8em;
}

.slideshow-container .small-title {
  font-size: 22px;
  font-weight: 500;
}

#About {
  background-color:rgb(250, 194, 79);
  background: -webkit-linear-gradient(to right bottom, rgb(250, 194, 79), rgb(255, 240, 150));
  background: -moz-linear-gradient(to right bottom, rgb(250, 194, 79), rgb(255, 240, 150));
  background: linear-gradient(to right bottom, rgb(250, 194, 79), rgb(255, 240, 150));
}

.main_content p {
    /* All properties of paragraphs in the content slides */
    font-size: 20px;
    font-weight: 300;
}

#Officers {
  background-color: rgb(18, 167, 218);
  background: -webkit-linear-gradient(to right bottom, rgb(18, 167, 218), white);
  background: -moz-linear-gradient(to right bottom, rgb(18, 167, 218), white);
  background: linear-gradient(to right bottom, rgb(18, 167, 218), white);
  padding: 60px;
  height: 2800px;
  min-width: 1100px;
}

#Officers .row {
  display: flex;
  width: 100%;
}

#Officers .row h3 {
  padding-top: 10px;
  padding-bottom: 60px;
  color: black;
  font-size: 28px;
}

#Officers .row .off-title {
  font-size: 18px;
}

#Officers .col {
  flex: 32%;
}

#Officers img {
  width: 40%;
  height: auto;
}

#Philanthropy {
  background-color:rgb(250, 194, 79);
  background: -webkit-linear-gradient(to right bottom, rgb(250, 194, 79), rgb(255, 240, 150));
  background: -moz-linear-gradient(to right bottom, rgb(250, 194, 79), rgb(255, 240, 150));
  background: linear-gradient(to right bottom, rgb(250, 194, 79), rgb(255, 240, 150));
}

#Rush {
  background-color:rgb(18, 167, 218);
  background: -webkit-linear-gradient(to right bottom, rgb(18, 167, 218), white);
  background: -moz-linear-gradient(to right bottom, rgb(18, 167, 218), white);
  background: linear-gradient(to right bottom, rgb(18, 167, 218), white);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.0s;
  animation-name: fade;
  animation-duration: 2.0s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: 0.1
  }
  to {
    opacity: 1
  }
}

/*
----------------------------------------------------------------------
THIS IS THE NAV MENU SECTION
----------------------------------------------------------------------
*/

.nav-menu {
  position: relative;
  height: 750px;
  width: 100%;
  min-width: 1100px;
  background-color: white;
  color: black;
}

.row-3 {
  display: inline-block;
  border-bottom: solid 1px darkgray;
  height: 250px;
  width: 100%;
}

.row-3 .content {
  display: inline-block;
  width: 60%;
  height: 250px;
  float: right;
}

.row-3 .content p {
  padding: 40px 50px 0px 0px;
  /* Other paragraph properties */
}

.row-3 .content h5 {
  margin: auto auto;
  width: 15%;
  margin-top: 2em;
}

.row-3 .label {
  display: inline-block;
  float: left;
  height: 250px;
  width: 35%;
}

.row-3 .label h3 {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 15px 0px;
}

.row-3 .label img {
  position: relative;
  width: 250px;
  height: auto;
  margin: 30px 75px;
  /* Divide the space left evenly */
}

/*
----------------------------------------------------------------------
THIS IS THE CONTACT SECTION
----------------------------------------------------------------------
*/

.Contact {
  position: relative;
  background-color: rgb(15, 61, 95);
  background: -webkit-linear-gradient(to right bottom, rgb(0, 0, 5), rgb(15, 61, 95) 90%);
  background: -moz-linear-gradient(to right bottom, rgb(0, 0, 5), rgb(15, 61, 95) 90%);
  background: linear-gradient(to right bottom, rgb(0, 0, 5), rgb(15, 61, 95) 90%);
  height: 100%;
  color: white;
  text-align: center;
  min-width: 1100px;
  min-height: 600px;
}

.contact-container {
  display: inline-block;
  width: 40%;
  float: left;
  margin-top: 4%;
}

.Contact h1 {
  padding-top: 120px;
  font-weight: 300;
}

.Contact h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 15px;
}

.Contact h5 {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 60px;
}

.Contact iframe {
  display: inline-block;
  width: 40%;
  float: right;
  margin: 4% 8% 0% 0%;
}
