*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px 0px;
  padding: 0px 0px;
}


body, html {
  height: 100vh;
  font-family: "Lato", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 200;
}

.container {
  width: 100%;
}

header {
  position: fixed;
  z-index: 2;
  background-color: rgb(15, 61, 95);
  height: 90px;
  clear: both;
  min-width: 1200px;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow:    0px 3px 5px rgba(0, 0, 0, 0.15);
  box-shadow:         0px 3px 5px rgba(0, 0, 0, 0.15);
}

.logo {
  margin: auto 20px;
  height: 100%;
  float: left;
  width: 10%;
  position: relative;
}

.logo img {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  max-height: 100%;
  max-width: 100%;
}

nav {
  margin: auto 0;
  height: 100%;
  float: right;
  width: 60%;
}

.menu {
  font-family: "Lato", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  height: 100%;
  width: 20%;
  background-color: rgb(15, 61, 95);
  color: white;
  font-weight: 300;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  text-shadow: 6px 3px 6px black;
}

.menu:hover {
  background-color: rgb(44, 84, 115);
}

/*
----------------------------------------------------------------------
THESE ARE THE CONTENT SECTIONs
----------------------------------------------------------------------
*/

.main_content {
  position: relative;
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  top: 90px;
}

#Home {
  background-color: rgb(15, 61, 95);
}

.slideshow-container {
  height: 100%;
  /* Include additional Properties needed for slideshow container..?
     Otherwise there is no use because main_content height is also 100%
     Probably want the bubbles, maybe arrows, maybe captions */
}

.slideshow-container img {
  width: 100%;
  height: auto;
  min-width: 1200px;
}

/* The title needs some heavy styling */

.slideshow-container  .large-title {
  width: 100%;
  padding: 20px 0px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#FDC92A;
  color: rgb(15, 61, 95);
  font-variant: small-caps;
  font-size: 38px;
  font-weight: bold;
  line-height: 0.8em;
}

.slideshow-container .small-title {
  font-size: 22px;
  font-weight: 500;
}

/* Rethink how this is made just in case?
   Resize is messed up */

#About {
  background-color:rgb(250, 194, 79);
}

.main_content p {
    /* All properties of paragraphs in the content slides */
    font-size: 20px;
    font-weight: 300;
}

#Officers {
  background-color:rgb(18, 167, 218);
  padding: 60px;
  height: 4750px;
  min-width: 1200px;
}

#Officers .row {
  display: flex;
  width: 100%;
}

#Officers .row h3 {
  padding-top: 10px;
  padding-bottom: 60px;
}

#Officers .col {
  flex: 50%;
}

#Officers img {
  width: 40%;
  height: auto;
}

#Philanthropy {
  background-color:rgb(250, 194, 79);
}

#Rush {
  background-color:rgb(18, 167, 218);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*
----------------------------------------------------------------------
THIS IS THE NAV MENU SECTION
----------------------------------------------------------------------
*/

.nav-menu {
  position: relative;
  margin: 0 auto;
  height: 400px;
  min-width: 1200px;
  background-color: white;
  color: white;
}

.btn {
  background-color: rgba(15, 61, 95, 1);
  /* Style the rest of these buttons */
}

/* This is mad messed up */
.btn h3 {
  position: relative;
  top: 10px;
  font-weight: 300;
  font-size: 26px;
  text-align: center;
}

.btn h5 {
  position: relative;
  top: 230px;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}

.btn p {
  position: relative;
}

.col-3 {
  /* Fix how these columns look */
  display: inline-block;
  margin: 40px 3%;
  height: 320px;
  width: 25%;
}

/*
----------------------------------------------------------------------
THIS IS THE CONTACT SECTION
----------------------------------------------------------------------
*/

.Contact {
  position: relative;
  background-color: rgb(15, 61, 95);
  height: 100%;
  color: white;
  text-align: center;
}

.Contact h1 {
  padding-top: 120px;
}
